{% extends 'base.html' %}

{% block title %}Edit Post{% endblock %}

{% block content %}

<h1>Edit Post</h1>

<form method="POST" action="/posts/{{ post.id }}/edit">

  <div >
    <label for="title">Title</label>
    <div>
      <input name="title" value="{{ post.title }}">
    </div>
  </div>

  <div>
    <label for="content">Post Content</label>
    <div>
      <textarea name="content">{{ post.content }}</textarea>
    </div>
  </div>

  <div>
    {% for tag in tags %}
    <div>
      <input 
            class="check_boxes"
            type="checkbox"
             value="{{ tag.id }}"
             id="tag_{{ tag.id }}"
             {% if tag in post.tags %}checked{% endif %}
             name="tags">
      <label class="label_checkbox"for="tag_{{ tag.id }}">
        {{ tag.name }}
      </label>
    </div>
    {% endfor %}
  </div>
  
    <div>
      <a class="btn" href="/users/{{ post.user_id }}">
        Cancel
      </a>
      <button type="submit">
        Edit
      </button>
    </div>

</form>

{% endblock %}