* {
  padding: 0px;
  margin: 0px;
}

.content {
  margin-top: 50px;
  margin-left: 200px;
}

input {
  padding: 5px;
  border-radius: 1px;
  border: solid 1px lightgray;
  margin-top: 5px;
  margin-bottom: 10px;
  min-width: 20%;
}

button {
  margin-top: 5px;
  padding: 10px 15px;
  margin-bottom: 20px;
  color: white;
  border-radius: 5px;
  border: none;
  background-color: rgb(151, 151, 151);
}

.btn {
  margin-top: 5px;
  padding: 8px 15px;
  margin-bottom: 20px;
  margin-right: 2px;
  color: white;
  border-radius: 5px;
  border: none;
  background-color: rgb(151, 151, 151);
  text-decoration: none;
}

nav {
  display: flex;
  background-color: rgb(49, 49, 49);
}

.navig {
  padding: 15px;
}

h1 {
  margin-bottom: 15px;
}

p {
  margin-top: 20px;
  margin-bottom: 10px;
}

small {
  font-style: italic;
}
nav a {
  color: rgb(151, 151, 151);
  text-decoration: none;
  font-size: 18px;
}

#blogly_nav {
  color: white;
  font-size: 18px;
  font-weight: bold;
}

.users_list:hover,
.posts_list:hover {
  color: rgb(35, 130, 240);
  text-decoration: underline;
}
.users_list,
.posts_list {
  text-decoration: none;
  color: rgb(35, 130, 240);
}

ul {
  list-style-type: none;
}

li {
  margin: 10px 40px;
}
.add_user_btn,
.add_post_btn {
  margin-top: 20px;
}

#add_user {
  margin-top: 5px;
  padding: 5px 8px;
  border-radius: 5px;
  border: none;
  background-color: rgb(151, 151, 151);
  text-decoration: none;
  color: white;
}

#item_3 {
  margin-left: auto;
}

img {
  width: 150px;
  margin: -10px 10px 0px -10px;
}

.user_page {
  display: flex;
}

.posts_list_users_page {
  list-style-type: initial;
  color: rgb(35, 130, 240);
}

.flashed_messages {
  margin-bottom: 20px;
  background-color: rgb(129, 233, 129);
  width: 50%;
  padding: 7px;
}
