<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>
    Blogly &ndash; {% block title %}{% endblock %}
  </title>
  <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<nav>
  <ul class="navig">
    <li>
    <a id="blogly_nav" href="/">Blogly</a>
    </li>
  </ul>
  <ul class="navig">
    <li>
      <a href="/users" id="users">Users</a>
    </li>
  </ul>
  <ul class="navig">
    <li>
      <a href="/tags">Tags</a></li>
  </ul>

  <div class="nav_add_btn">
    <ul class="navig">
      <li>
        <a href="/users/new" id="add_user">Add User</a>
      </li>
    </ul>
    <ul>
      <li class="navig">
        <a href="/tags/new" id="add_tag">Add Tag</a>
      </li>
    </ul>
    
    
  </div>


</nav>
<div class="content">
  {% for msg in get_flashed_messages() %}
  <div class="flashed_messages">{{ msg }}</div>
  {% endfor %}

  {% block content %}
  <!-- put the content here -->
  {% endblock %}
</div>
</body>
</html>