{% extends 'base.html' %}

{% block title %}{{ user.full_name }}{% endblock %}}

{% block content %}

<div class="user_page">
  <div>

    {% if user.image_url %}
    <div>
      <img src="{{ user.image_url }}"
           alt="{{ user.full_name }}"
      >
    </div>
    {% endif %}

  </div>
  

  <div>
    <h1>{{ user.full_name }}</h1>

    <form>
      <button
              formaction="/users/{{ user.id }}/edit"
              formmethod="GET">Edit
      </button>
      <button
              formaction="/users/{{ user.id }}/delete"
              formmethod="POST">Delete
      </button>
    </form>

    <h2>Posts</h2>

    <ul class="posts_list_users_page">
      {% for post in user.posts %}
      <li>
        <a class="posts_list" href="/posts/{{ post.id}}">{{ post.title }}</a>
        <small>{{ post.formated_date }}</small>
      </li>
      {% endfor %}
    </ul>
    <div class="add_post_btn">
      <a class="btn" href="/users/{{ user.id }}/posts/new">Add Post</a>
    </div>

  </div>
</div>

{% endblock %}